{>header}
  <h1>{title}</h1>
  {?posts}
    <section id="posts">
      {#posts}
        <article>
          <header>
            <h1><a href="/posts/{id}">{postTitle}</a></h1>
            <p class="by">{author}</p>
          </header>
          <p class="tags">{#tags}
            <a href="/tags/{tag}">{tag}</a>{/tags}
          </p>
          <div>{content}</div>
          {!
          <div>Commented-out section</div>
          !}
        </article>
        {#comments}
          {>comment}
        {^comments}
          <p>No comments have yet been made.</p>
        {/comments}
        {>addComment}
      {/posts}
    </section>
  {^posts}
    <p>No posts!</p>
  {/posts}
{>footer}
